body {
  background: #f6f6f6;
  font-family: system-ui;
}

.product-header {
  background: orange;
  color: white;
  padding: 14px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.product-header button {
  border: none;
  background: white;
  color: orange;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
}

#productBox {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.layout {
  background: white;
  border-radius: 16px;
  padding: 30px;
  max-width: 900px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.layout img {
  width: 100%;
  border-radius: 14px;
}

.price {
  color: orange;
  font-size: 22px;
  font-weight: bold;
}

.buy {
  margin-top: 20px;
  padding: 14px 28px;
  background: orange;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
